@import "./colors.scss";

:root {
    --nav-color: #353535;

    --purple-100: #907d9c;
    --purple-800: #dab5f0;
    --purple-900: #805a97;
}

.desktop-only {
    display: none;
    visibility: hidden;
}

.navbar {
    background-color: var(--nav-color);
    height: fit-content;
    padding-block: 12px; /* 12px */

    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100vw;

    font-family: "Inter", sans-serif;

    .navbar-logo img {
        height: 3.125rem;
        margin-left: 0.75rem; /* 12px */ /* 50px */
    }

    .navbar-links {
        visibility: hidden;
    }

    .navbar-links a:hover {
        color: var(--purple-800);
    }

    .navbar-searchbar {
        margin-left: 1.6875rem; /* 27px */
        margin-right: 27px; /* 27px */
        width: 50%;
        background-color: var(--purple-100);
        border-radius: 1.4375rem; /* 23px */
        display: flex;
        align-items: center;

        height: fit-content;
        padding: 4px;
    }

    .navbar-searchbar input {
        margin-left: 0.5rem; /* 8px */
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
        font-size: 0.875rem; /* 14px */
        font-weight: 500;
        font-family: "Inter", sans-serif;
        width: 100%;
    }
}

.purple {
    color: var(--purple-800);
}

.navbar-searchbar input::placeholder {
    color: #dab5f0;
}

/* ======================= Promo ======================= */

.promo {
    background-color: #b5f0c2;
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    letter-spacing: 1.2px;
    width: fit-content;
    display: flex;
    padding: 4px 32px 4px 32px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    margin-inline: auto;
    margin-block: 18px;

    span {
        color: $purple-900;
    }

    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
    .promo span {
        color: var(--purple-900);
    }
}

/* ======================= Carousel ======================= */

// .carousel-wrapper {
//     .carousel-img {
//         width: 40%;
//     }
// }

.section-divider {
    width: 100vw;
}

/* ======================= Highlight ======================= */
.highlight {
    .highlight-wrapper {
        margin-inline: 24px;
        display: flex;
        gap: 3.125rem;

        .highlight-img {
            width: 50%;
            border: 4px solid $purple-700;
            border-radius: 14px;
        }

        .highlight-info {
            font-family: "Poppins", sans-serif;
            font-size: 12px;
            display: flex;
            flex-direction: column;
        }

        .highlight-divider {
            width: 100%;
            height: 7px;
            background-color: $purple-800;
            margin-top: 4px;
            margin-bottom: 12px;
            border-radius: 30px;
        }

        #radios {
            label {
                position: relative;
            }
        }

        input[type="radio"] {
            position: absolute;
            opacity: 0;
            width: 25px;
            height: 25px;
        }

        input[type="radio"] + svg {
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
        }
    }

    .highlight-stars {
        margin-inline: auto;
    }
}

.highlight {
    input[class="size-pp"]:hover + svg,
    input[class="size-pp"]:checked + svg,
    input[class="size-pp"]:focus + svg {
        circle {
            fill: $purple-800;
            stroke: $purple-800;
        }

        path {
            fill: white;
        }

        transition: 200ms;
    }

    input[class="size-p"]:hover + svg,
    input[class="size-p"]:checked + svg,
    input[class="size-p"]:focus + svg {
        circle {
            fill: $purple-800;
            stroke: $purple-800;
        }

        path {
            fill: white;
        }

        transition: 200ms;
    }

    input[class="size-m"]:hover + svg,
    input[class="size-m"]:checked + svg,
    input[class="size-m"]:focus + svg {
        circle {
            fill: $purple-800;
            stroke: $purple-800;
        }

        path {
            fill: white;
        }

        transition: 200ms;
    }

    input[class="size-g"]:hover + svg,
    input[class="size-g"]:checked + svg,
    input[class="size-g"]:focus + svg {
        circle {
            fill: $purple-800;
            stroke: $purple-800;
        }

        path {
            fill: white;
        }

        transition: 200ms;
    }

    input[class="size-gg"]:hover + svg,
    input[class="size-gg"]:checked + svg,
    input[class="size-gg"]:focus + svg {
        circle {
            fill: $purple-800;
            stroke: $purple-800;
        }

        path {
            fill: white;
        }

        transition: 200ms;
    }

    input[class="size-xg"]:hover + svg,
    input[class="size-xg"]:checked + svg,
    input[class="size-xg"]:focus + svg {
        circle {
            fill: $purple-800;
            stroke: $purple-800;
        }

        path {
            fill: white;
        }

        transition: 200ms;
    }
}

.highlight-price {
    text-align: center;
    margin-top: 4px;

    span {
        font-family: "Inter", sans-serif;
        font-size: 1.25rem;
    }
}

.highlight-buy {
    margin-inline: auto;
    margin-top: 12px;

    button {
        background-color: $green-500;
        padding: 9px 32px 9px 32px;
        border-radius: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        transition: 200ms;
    }
    & button:hover {
        background-color: $purple-800;
        color: white;
    }
}

/* ======================= Promo Dragon ======================= */

.promo-dragon {
    margin-block: 32px;
    padding-block: 8px;
    border-block: 2px solid #353535;

    img {
        width: 100vw;
        min-width: 432px;
    }
}

/* ======================= Products ======================= */

.products-wrapper {
    margin-top: 24px;
    margin-inline: auto;
    width: fit-content;
    display: flex;
    align-items: center;

    .products-display {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }
}

.product-image {
    img {
        width: 70px;
    }

    margin-inline: auto;

    border: 4px solid $purple-700;
    width: fit-content;
    padding: 8px 12px;
    border-radius: 15px;
}

.product-card {
    width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .product-infos {
        span {
            font-family: "Lato", sans-serif;
            font-size: 12px;
        }

        .product-divider {
            width: 100%;
            height: 7px;
            background-color: $purple-800;
            margin-top: 4px;
            margin-bottom: 12px;
            border-radius: 30px;
        }
    }

    .product-price {
        text-align: center;

        span {
            font-family: "Inter", sans-serif;
            font-size: 20px;
        }
    }

    .product-buy {
        text-align: center;
        margin-top: 8px;
        button {
            background-color: $green-500;
            padding: 9px 32px 9px 32px;
            border-radius: 20px;
            font-family: "Poppins", sans-serif;
            font-weight: 800;
            transition: 200ms;
        }
        & button:hover {
            background-color: $purple-800;
            color: white;
        }
    }
}

.products-divider {
    margin-top: 24px;
}

/* ======================= Footer ======================= */

footer {
    margin-top: 50px;

    .footer-purple {
        background-color: $purple-800;
        width: 100vw;
        height: 18px;
    }
    .footer-black {
        background-color: $nav-color;
        width: 100vw;
        height: 50px;
    }
}

/* ======================= Dividers ======================= */

.section-divider {
    width: 100vw;
    height: 7px;
    background-color: $purple-800;
    margin-top: 4px;
    margin-bottom: 12px;
}

.products-divider {
    width: 100%;
    height: 12px;
    background-color: $purple-800;
    margin-top: 24px;
    margin-bottom: 12px;
    // border-radius: 30px;
}

.products-section-divider {
    padding-block: 12px;
    text-align: center;
    font-family: "Inter", sans-serif;
    background-color: $purple-800;
    span {
        padding-block: 4px;
        background-color: #b5f0c2;
        width: fit-content;
        padding-inline: 12px;
        border-radius: 6px;

        margin-block: 24px;
        width: 100vw;
    }
}

.promo-desktop {
    display: none;
    visibility: hidden;
}

/* ======================= Media Queries ======================= */

@media (min-width: 550px) {
    .desktop-only {
        display: initial;
        visibility: visible;
    }

    .mobile-only {
        display: none;
        visibility: hidden;
    }

    .navbar {
        .navbar-searchbar {
            width: 0px;
            display: none;
            visibility: hidden;
        }

        .navbar-links {
            margin-right: 60px;
            visibility: visible;
            margin-top: 1.5rem; /* 24px */
            margin-left: 0.625rem; /* 10px */
            display: flex;
            gap: 0.875rem; /* 14px */

            font-size: 24px;

            .navbar-links a {
                color: #fff;
            }
        }
    }

    .products-section-divider.products-mobile {
        visibility: hidden;
        display: none;
        span {
            padding-block: 4px;
            background-color: #b5f0c2;
            width: fit-content;
            padding-inline: 12px;
            border-radius: 6px;

            margin-block: 24px;
            width: 100vw;
        }
    }

    .products-section-divider.desktop {
        margin-top: 26px;

        span {
            font-size: 32px;
            color: $purple-900;
            font-family: "Inder", sans-serif;
            letter-spacing: 5.76px;
        }
    }

    .promo.mobile-only {
        display: none;
        visibility: hidden;
    }

    .promo-desktop {
        display: initial;
        visibility: visible;

        font-family: "Inder", sans-serif;
        letter-spacing: 5.76px;

        margin-top: 56px;
        margin-left: 34px;

        span {
            background-color: $green-500;
            padding-inline: 42px;
            padding-block: 4px;
            border-radius: 10px;
            color: $purple-900;
        }
    }

    .carrosel {
        margin-bottom: 56px;
    }

    .promo-dragon-2 {
        img {
            width: 100vw;
        }
    }

    .products-section-divider {
        font-family: "Inter", sans-serif;
        font-size: 32px;
        letter-spacing: 5.76px;
        color: $purple-900;
    }
}

/* ======================= Desktop Product ======================= */

.desktop-product-img {
    img {
        max-width: 300px;
        padding: 10px;
    }

    border: 8px solid $purple-700;
    border-radius: 16px;
    width: fit-content;
}

.desktop-products-wrapper {
    display: flex;
}

.desktop-product-info {
    p {
        font-family: "Lato", sans-serif;
        font-size: 27px;
        color: black;
        text-align: center;
    }

    span {
        color: black;
        font-family: "Inter", sans-serif;
        font-size: 40px; 
    }

}

.desktop-product-divider {
    background-color: $purple-800;
    height: 10px;
    width: 100%;
    margin-top: 44px;
    margin-bottom: 44px;
    border-radius: 23px;
}

.desktop-product-star {
    margin-top: 20px;
}

.desktop-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        font-family: "Poppins", sans-serif;
        font-size: 27px;
        padding-block: 28px;
        margin-top: 32px;
        padding-inline: 32px;
        background-color: $green-500;
        border-radius: 75px;
        color: black;
        font-weight: 500;

    }
}

.desktop-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.desktop-products-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}