@import "./colors.scss";

:root {
    --nav-color: #353535;

    --purple-100: #907d9c;
    --purple-800: #dab5f0;
    --purple-900: #805a97;
}

.navbar {
    background-color: var(--nav-color);
    height: fit-content;
    padding-block: 0.75rem; /* 12px */

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: "Inter", sans-serif;

    .navbar-logo img {
        height: 3.125rem;
        margin-left: 0.75rem; /* 12px */ /* 50px */
    }

    .navbar-links {
        margin-top: 1.5rem; /* 24px */
        margin-left: 0.625rem; /* 10px */
        display: flex;
        gap: 0.875rem; /* 14px */

        .navbar-links a {
            color: #fff;
        }
    }

    .navbar-links a:hover {
        color: var(--purple-800);
    }

    .navbar-searchbar {
        margin-left: 1.6875rem; /* 27px */
        margin-right: 27px; /* 27px */
        width: 50%;
        background-color: var(--purple-100);
        border-radius: 1.4375rem; /* 23px */
        display: flex;
        align-items: center;

        height: fit-content;
        padding: 4px;
    }

    .navbar-searchbar input {
        margin-left: 0.5rem; /* 8px */
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
        font-size: 0.875rem; /* 14px */
        font-weight: 500;
        font-family: "Inter", sans-serif;
        width: 100%;
    }
}

.purple {
    color: var(--purple-800);
}

.navbar-searchbar input::placeholder {
    color: #dab5f0;
}

/* ======================= Promo ======================= */

.promo {
    background-color: #b5f0c2;
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    letter-spacing: 1.2px;
    width: fit-content;
    display: flex;
    padding: 4px 32px 4px 32px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    margin-inline: auto;
    margin-block: 18px;


    span {
        color: $purple-900;
    }

    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
    .promo span {
        color: var(--purple-900);
    }
}

/* ======================= Carousel ======================= */

// .carousel-wrapper {
//     .carousel-img {
//         width: 40%;
//     }
// }

/* ======================= Highlight ======================= */
.highlight {

    .highlight-wrapper {
        margin-inline: 24px;
        display: flex;
        gap: 3.125rem;

        .highlight-img {
            width: 50%;
            border: 4px solid $purple-700;
            border-radius: 14px;
        }

        .highlight-info {
            font-family: "Poppins", sans-serif;
            font-size: 12px;
        }

        .highlight-divider {
            width: 100%;
            height: 7px;
            background-color: $purple-800;
            margin-block: 4px;
            border-radius: 30px;       
        }
    }
}