:root {
    --nav-color: #353535;

    --purple-100: #907D9C;
    --purple-800: #DAB5F0;
}

.navbar {
    background-color: var(--nav-color);
    height: fit-content;
    padding-block: .75rem; /* 12px */

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: "Inter", sans-serif;
}

.navbar-logo img {
    height: 3.125rem;
    margin-left: .75rem; /* 12px */   /* 50px */
}

.navbar-links {
    margin-top: 1.5rem; /* 24px */
    margin-left: .625rem; /* 10px */
    display: flex;
    gap: .875rem;  /* 14px */
}

.navbar-links a {
    color: #FFF;
}

.purple {
    color: var(--purple-800);
}

.navbar-links a:hover {
    color: var(--purple-800);
}

.navbar-searchbar {
    margin-left: 1.6875rem; /* 27px */
    margin-right: 27px; /* 27px */
    width: 50%;
    background-color: var(--purple-100);
    border-radius: 1.4375rem; /* 23px */
    display: flex;
    align-items: center;

    height: fit-content;
    padding: 4px;
}

.navbar-searchbar input {
    margin-left: .5rem; /* 8px */
    background-color: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-size: .875rem; /* 14px */
    font-weight: 500;
    font-family: "Inter", sans-serif;
    width: 100%;
}

.navbar-searchbar input::placeholder {
    color: #DAB5F0;
}